@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.header {
  border-bottom: 1px solid $gray200;

  .nav {
    max-width: 120rem;
    height: 5rem;
    padding: 1.12rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .nav-tap {
      display: flex;
      gap: 1.25rem;
      font-size: 1.375rem;
      font-weight: 500;
      letter-spacing: -0.03438rem;
      position: relative;

      .nav-tap-item {
        color: $gray600;
      }

      .active {
        color: $black;
      }

      .active-effect {
        position: absolute;
        bottom: -1.6rem;
        left: 0;
        width: 5rem;
        height: 0.5rem;
        border-radius: 62.5rem 62.5rem 0rem 0rem;
        background-color: $blue500;
      }

      .animation-effect-dashboard {
        animation: rightToLeft 0.2s ease forwards;
      }

      .animation-effect-calendar {
        animation: leftToRight 0.2s ease forwards;
      }

      .effect-position-right {
        left: 5.2rem;
      }
    }

    .profile-box {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: -0.02188rem;
      display: flex;
      gap: 0.75rem;
      align-items: center;
      width: 12.8rem;
      justify-content: right;

      .nickname-box {
        display: flex;
        align-items: center;

        .guide-text {
          padding-right: 0.25rem;
        }

        .notification-bell {
          margin-right: 0.4rem;
          display: flex;
          gap: 0.25rem;
          position: relative;
          cursor: pointer;
          border-radius: 50%;
          padding: 0.5rem 0.625rem;
          transition:
            transform 0.5s,
            background-color 0.5s;

          &:hover {
            background-color: $gray300;
          }

          .notification-count {
            color: $white;
            font-size: 0.625rem;
            font-weight: 500;
            background-color: $red500;
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0.1rem;
            top: 0.15rem;
            letter-spacing: -0.05rem;
          }
        }

        .nickname {
          color: $blue600;
        }
      }
    }
  }
}
