@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.header {
  border-bottom: 1px solid $gray200;

  .nav {
    max-width: 120rem;
    height: 5rem;
    padding: 1.12rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .nav-tap {
      display: flex;
      gap: 1.25rem;
      font-size: 1.375rem;
      font-weight: 500;
      letter-spacing: -0.03438rem;
      position: relative;

      .nav-tap-item {
        color: $gray600;
      }

      .active {
        color: $black;
      }

      .active-effect {
        position: absolute;
        bottom: -1.6rem;
        left: 0;
        width: 5rem;
        height: 0.5rem;
        border-radius: 62.5rem 62.5rem 0rem 0rem;
        background-color: $blue500;
      }

      .animation-effect-dashboard {
        animation: rightToLeft 0.2s ease forwards;
      }

      .animation-effect-calendar {
        animation: leftToRight 0.2s ease forwards;
      }

      .effect-position-right {
        left: 5.2rem;
      }
    }

    .profile-box {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: -0.02188rem;
      display: flex;
      gap: 0.75rem;
      align-items: center;

      .nickname {
        color: $blue600;
      }

      .profile-image-container {
        position: relative;
        display: inline-block; /* 이미지 크기에 맞추어 컨테이너 크기 조정 */
      }

      .profile-image-background {
        border-radius: 50%;
        width: 2.75rem;
        height: 2.75rem;
        background-color: $gray200;
      }

      .profile-image-container::before {
        content: "";
        position: absolute;
        inset: -2px;
        border-radius: 50%;
        background: linear-gradient(
          90deg,
          rgba(51, 96, 255, 1) 0%,
          rgba(50, 236, 180, 1) 50%,
          rgba(38, 163, 191, 1) 100%
        );
        z-index: -1; /* 이미지 뒤에 배치 */
      }
    }
  }
}
