.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .week-dates {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .625rem;
    padding-left: 3.75rem;

    .date-container {
      height: 5rem;
      display: flex;
      padding: .5rem 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .125rem;
      flex: 1 0 0;
      align-self: stretch;

      .day {
        @include caption1-medium($gray700);
      }

      .date {
        @include heading2-medium;

        &.today {
          display: flex;
          width: 2.5rem;
          height: 2.5rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 62.5rem;
          background: $blue500;
          color: white;
        }
      }
    }
  }

  .time-scroll-container {
    width: 100%;
    height: calc(100vh - 15.625rem);
    display: flex;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.75rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray400;
      border: 1px solid $gray400;
      border-radius: 5px;
      min-height: 3.75rem;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    .label-container {
      width: 3.75rem;
      display: flex;
      flex-direction: column;
      padding-top: 5rem;
      gap: 4.125rem;

      .label {
        @include caption2-medium($gray700);
      }
    }

    .time-container {
      display: flex;
      align-items: flex-start;
      width: 100%;

      .time-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $gray300;

        &:first-child {
          border-left: none;
        }

        .time-block {
          height: 5rem; // 각 시간 칸의 높이
          border-bottom: 1px solid $gray300;
        }
      }
    }
  }
}