.calendar {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }

  &Month {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &Navigation {
    display: flex;

    .calendarButton {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 5px 10px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  &Table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      width: 14.285%;
      text-align: center;
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f9f9f9;
    }

    td {
      &:nth-child(7) {
        color: blue; // 토요일
      }

      &:nth-child(1) {
        color: red; // 일요일
      }
    }

    .saturday {
      color: blue;
    }

    .sunday {
      color: red;
    }
  }
}
