.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;

  .enter-group {
    @include body2-regular($gray700)
  }

  .group-container {
    display: flex;
    flex-direction: column;
  }
}