.container {
  width: calc(100% - 1.875rem);
  border-radius: .75rem;
  padding-top: 1rem;
  outline: none;
  cursor: pointer;
  position: absolute;
  opacity: 0.85;

  .time {
    @include caption2-medium($white);
    font-size: 0.9rem;
  }

  .title {
    @include caption1-medium($white);
    font-size: 1rem;
  }

  &:hover {
    filter: brightness(1.1);
  }
}