.container {
  position: relative;
  width: 62.5rem;
  height: 47.25rem;
  border-radius: 16px;
  padding: 1.25rem 1.5rem;
  background-color: $white;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-label {
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    background-color: $blue100;
    color: $blue700;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.0219rem;
  }

  .order-label {
    display: flex;

    li {
      @include flex-row-center;
      width: 2rem;
      height: 2rem;
      font-size: 1.0625rem;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: -0.0266rem;
      text-align: center;
    }

    :first-child {
      color: $gray600;
    }

    :last-child {
      background-color: $blue500;
      border-radius: 999px;
      color: $white;
    }
  }
}

.title {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.0266rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;

  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: $gray700;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: -0.0219rem;
    }

    ul {
      @include flex-row-center;
      gap: 1rem;
      font-size: 0.6875rem;
      font-weight: 500;
      line-height: 1.0625rem;
      letter-spacing: -0.0172rem;

      li {
        @include flex-row-center;
        gap: 0.2rem;

        .box {
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 2px;
        }
      }

      .not-selectable {
        .box {
          background-color: $gray700;
        }
      }

      .selectable {
        .box {
          border: 1px solid $gray500;
        }
      }

      .selected {
        .box {
          background-color: $blue500;
        }
      }
    }
  }
}

.table-container {
  width: 59.5rem;

  margin: 0 auto;
  overflow-x: auto;

  .schedule-selector {
    width: calc(4rem * 26);

    thead {
      th {
        background-color: $white;
        width: 4rem;
        height: 3rem;
        color: $gray700;
        font-size: 0.75rem;
        font-weight: 500;
      }

      :first-child {
        position: sticky;
        left: 0;
      }

      :last-child {
        position: sticky;
        right: 0;
      }
    }

    tbody {
      border-top: 1px solid $gray900;
      border-bottom: 1px solid $gray900;

      td {
        background-color: $white;
        height: 1rem;
        border: 1px solid $gray200;
      }

      :first-child {
        position: sticky;
        left: 0;
      }

      :last-child {
        position: sticky;
        right: 0;
      }

      .day-label {
        width: 5.125rem;
        height: 6.5rem;
        padding: 1.75rem 0.5rem;
        font-size: 0.75rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

.selected-time-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;

  .time {
    @include flex-row-center;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
    border: 1px solid $gray200;
    background-color: $gray50;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 140%;
  }
}

.end-time-setting {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 2.5rem;

  .description {
    font-weight: 500;
    line-height: 150%;

    span {
      font-size: 1.0625rem;
      background-color: $gray50;
      border: 1px solid $gray200;
      border-radius: 999px;
      padding: 0.25rem 0.5rem;
      margin-right: 0.25rem;
    }
  }
}

.button-container {
  position: absolute;
  bottom: 1.25rem;
  right: 1.5rem;
  display: flex;
  gap: 0.25rem;

  .prev-button {
    padding: 0.5rem 0.75rem;
    color: $gray700;
    font-weight: 700;
    line-height: 150%;
  }

  .next-button {
    padding: 0.5rem 1.25rem;
    background-color: $blue500;
    border-radius: 8px;
    color: $white;
    font-weight: 700;
    line-height: 150%;
  }
}
