.container {
  width: 32rem;
  padding: 1.5rem;
  background-color: $white;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 16px;

  .close-button {
    padding: 0;
    transition: transform 0.5s ease;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;

    &:hover {
      transform: rotate(180deg);
    }
  }

  .create-schedule-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    .title {
      display: flex;
      padding: 0.5rem 0;
      align-items: center;
      gap: .25rem;
      align-self: stretch;
      outline: none;
      @include heading4-medium;

      &::placeholder {
        color: $gray600;
      }
    }

    .time-place {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .time-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        align-self: stretch;

        .label {
          @include headline2-bold;
        }

        .time {
          display: flex;
          align-items: center;
          gap: .125rem;
          flex: 1 0 0;

          .start,
          .end {
            display: flex;
            align-items: flex-start;

            .date {
              @include body2-medium;
            }
          }
        }
      }

      .place {
        display: flex;
        align-items: center;
        gap: 1rem;
        align-self: stretch;

        .label {
          @include headline2-bold;
        }
      }
    }
  }
}