.container {
  width: 32rem;
  padding: 1.5rem;
  background-color: $white;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 16px;

  .close-button {
    padding: 0;
    transition: transform 0.5s ease;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;

    &:hover {
      transform: rotate(180deg);
    }
  }

  .create-schedule-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    .title {
      display: flex;
      padding: 0.5rem 0;
      align-items: center;
      gap: .25rem;
      align-self: stretch;
      outline: none;
      @include heading4-medium;

      &::placeholder {
        color: $gray600;
      }
    }

    .time-place {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .time-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        align-self: stretch;

        .label {
          @include headline2-bold;
        }

        .time {
          display: flex;
          align-items: center;
          gap: .125rem;
          flex: 1 0 0;

          .start,
          .end {
            display: flex;
            align-items: flex-start;

            .date {
              @include body2-medium;
            }
          }
        }
      }

      .place {
        display: flex;
        align-items: center;
        gap: 1rem;
        align-self: stretch;

        .label {
          @include headline2-bold;
        }

        .place-input-container {
          display: flex;
          align-items: center;
          gap: .125rem;
          flex: 1 0 0;

          .place-input {
            @include body2-medium;
            text-align: start;
          }
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .25rem;
      align-self: stretch;

      .label {
        @include headline2-bold;
      }

      .text {
        width: 100%;
        display: flex;
        padding: .75rem 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: .25rem;
        align-self: stretch;
        border-radius: .5rem;
        background: $gray100;
        border: none;
        resize: none;
        @include body2-regular;
        text-align: start;
      }
    }

    .group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .25rem;
      align-self: stretch;

      .label {
        @include headline2-bold;
      }

      .group-select {
        display: flex;
        height: 2.75rem;
        min-width: 7.5rem;
        padding: .75rem 1rem;
        align-items: center;
        gap: .5rem;
        align-self: stretch;
        border-radius: .5rem;
        border: 2px solid $gray900;
        appearance: none;

        .option {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: .625rem;

          .group-color {
            width: 1.25rem;
            height: 1.25rem;
            border-radius: .5rem;
          }

          .group-name {
            @include body2-bold;
            text-align: start;
          }
        }
      }
    }

    .member-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .25rem;
      align-self: stretch;

      .label {
        @include headline2-bold;
      }

      .members {
        width: 100%;
        height: 9.375rem;
        display: flex;
        flex-direction: column;
        gap: .1875rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.75rem;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray400;
          border: 1px solid $gray400;
          border-radius: 5px;
          min-height: 1.875rem;
        }

        &::-webkit-scrollbar-track {
          display: none
        }

        .member-checkbox {
          display: flex;
          padding: 4px 8px;
          align-items: center;
          gap: 4px;
          border-radius: 1000px;
          border: 1px solid $gray200;
          background: $gray50;
        }
      }
    }
  }
}