$border: 1px solid $gray400;

.container {
  width: 100%;
  height: calc(100% - 4rem);

  .month-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $border;
    border-bottom: $border;

    .day {
      display: flex;
      height: 2.25rem;
      padding: .5rem 0;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex: 1 0 0;
      @include body2-medium;

      &.sunday {
        color: $red500;
        border-left: none;
      }

      &.saturday {
        color: $blue500;
        border-right: none;
      }
    }
  }

  .month-content {
    width: 100%;
    height: calc(100% - 2.25rem);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: $gray400;
    grid-gap: 1px;

    .date-container {
      position: relative;
      width: 100%;

      .date {
        position: absolute;
        top: .25rem;
        right: .25rem;
        width: 1.5rem;
        height: 1.5rem;
        padding: .125rem;
        gap: .5rem;
        flex-shrink: 0;
        @include body2-bold;

        &.today {
          background-color: $blue500;
          border-radius: 4px;
          color: $white;
        }

        &.other-month {
          color: $gray500;
        }
      }
    }
  }

  .month-content>* {
    background-color: $white;
  }
}