.container {
  width: 32rem;
  padding: 1.5rem;
  background-color: $white;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 16px;

  .main-container {
    gap: 1rem;
    margin-bottom: 2.5rem;
    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;

        .title {
          color: $blue700;

          font-size: 0.875rem;
          font-weight: 500;
          line-height: 142.9%; /* 1.25038rem */
          letter-spacing: -0.02188rem;

          display: flex;
          padding: 0.25rem 0.5rem;
          justify-content: flex-end;
          align-items: flex-end;
          gap: 0.5rem;

          border-radius: 0.25rem;
          background: $blue100;
        }
        .icon-container {
          display: flex;
          .first-icon {
            display: flex;
            width: 2rem;
            height: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: $white;

            border-radius: 62.5rem;
            background: $blue500;
          }
          .second-icon {
            display: flex;
            width: 2rem;
            height: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: $gray600;
          }
        }
      }
      .name {
        display: flex;
        padding: 0.5rem 0;
        align-items: center;
        gap: 0.25rem;
        align-self: stretch;
        outline: none;
        color: $gray600;

        font-size: 1.375rem;

        @include heading4-medium;

        &::placeholder {
          color: $gray600;
        }
      }
    }
    .location-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      align-self: stretch;

      p {
        width: 2.5rem;
        @include headline2-bold;
      }

      .location {
        width: 100%;
        display: flex;
        padding: 0.5rem 0.25rem;
        align-items: center;
        gap: 0.25rem;

        .location-input {
          width: 100%;
        }
      }
    }
    .context-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-self: stretch;
      position: relative;

      p {
        @include headline2-bold;
      }
      .context {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        height: max-content;

        .textarea {
          display: flex;
          height: 6rem;
          padding: 0.75rem 1rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.25rem;
          align-self: stretch;

          outline: none;
          border: none;
          resize: none;

          border-radius: 0.5rem;
          background: $gray100;
        }
        .count {
          color: $gray600;
          position: absolute;
          right: 0;
          top: 5rem;
        }
        .participant-list {
          display: flex;
          width: 26.875rem;
          align-items: flex-start;
          gap: 0.75rem;
          flex-wrap: wrap;
          justify-content: left;

          p {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 142.9%; /* 1.25038rem */
            letter-spacing: -0.02188rem;
          }
        }
        .extra-info {
          color: $gray700;

          font-size: 0.875rem;
          font-weight: 400;
          line-height: 142.9%; /* 1.25038rem */
          letter-spacing: -0.02188rem;
        }
        .extra-info-blue {
          position: absolute;
          right: 0rem;
          top: 1.5rem;

          color: $blue500;
          /* Caption 2/Regular */
          font-family: "Pretendard Variable";
          font-size: 0.6875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 127.3%; /* 0.87519rem */
          letter-spacing: -0.01719rem;
        }
      }
      .dropdown-context {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-self: stretch;
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: right;
    .next-button {
      display: flex;
      height: 2.5rem;
      padding: 0.5rem 1.25rem;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      border-radius: 0.5rem;
      background: $gray300;

      &:hover {
        background: $gray400;
      }
    }
    .cancel-button {
      display: flex;
      height: 2.5rem;
      padding: 0.5rem 1.25rem;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      border-radius: 0.5rem;

      &:hover {
        background: $gray400;
      }
    }
    p {
      color: $gray600;

      font-family: "Pretendard Variable";
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 1.5rem */
      letter-spacing: -0.025rem;
    }
  }
}
