@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  20% {
    transform: translateY(-25%);
  }

  40% {
    transform: translateY(-50%);
  }

  60% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes progress {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  animation: slideIn 0.5s ease forwards;
  width: 21.875rem;
  height: 5rem;
  position: relative;
  padding: 1rem;
  border-radius: 4px;
  box-shadow:
    0 1px 10px 0 rgba(0, 0, 0, 0.1),
    0 2px 15px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  color: #757575;
  background-color: #fff;
}

.unMount-effet {
  animation: slideOut 0.5s ease;
}

.close-button {
  top: 10%;
  right: 2%;
  position: absolute;
  height: 1.5rem;
  opacity: 0.3;
  transition:
    transform 0.75s ease,
    opacity 0.75s ease;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

.message-box {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.75rem;
}

.progress {
  position: absolute;
  bottom: -1.93rem;
  left: 0;
}

.progress-box {
  border-radius: 2px;
  box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.05);
  height: 0.3125rem;
  margin: 2rem 0 2rem 0;
  overflow: hidden;
  position: relative;
  width: 21.875rem;
}

.progress-bar {
  background-color: #ececec;
  box-shadow: inset 0 0.5em 0.5em rgba(94, 49, 49, 0.05);
  inset: 0 0 0 0;
  position: absolute;
  animation: progress linear;
}
