.scroll-container {
  height: calc(100vh - 80px);
  overflow: hidden auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    background-color: $gray200;
    height: 0.25rem;
    width: 0.25rem;
  }

  ::-webkit-scrollbar-track {
    background-color: $gray300;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $gray500;
    border-radius: 4px;
  }
}

.header {
  border-bottom: 1px solid $gray200;
  background-color: $white;

  .nav {
    max-width: 120rem;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .login-button {
    padding: 0.5rem 1.25rem;
    border-radius: 8px;
    border: 1px solid $blue500;
    color: $blue500;
    font-weight: 700;
    line-height: 150%;
  }
}

.section {
  scroll-snap-align: start;
}

.first-section {
  @include flex-col-center;
  gap: 1.5rem;
  height: calc(100vh - 80px);
  position: relative;
  background: linear-gradient(to bottom right, transparent, rgba(0, 122, 255, 0.05));

  .slogan {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.105rem;
    text-align: center;

    .slogan-line {
      @include flex-row-center;
    }

    .calendar-icon {
      margin-left: 0.2rem;
      margin-right: 0.5rem;
    }

    .tickita-logo {
      margin-left: 1rem;
    }
  }

  .login-button {
    padding: 1rem 2rem;
    background-color: $blue500;
    border-radius: 8px;
    color: $white;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.55px;
  }

  .next-arrow-container {
    @include flex-col-center;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    color: $gray700;
    font-weight: 700;
    line-height: 150%;

    .next-arrow {
      animation: bounce 2s infinite;
    }
  }
}

.second-section {
  padding-top: 7.5rem;
  height: calc(100vh - 80px);

  .point-letter {
    @include flex-col-center;
    gap: 2.5rem;
    margin-bottom: 4rem;

    .text {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -1px;
      text-align: center;
      animation: slideUp 1s ease-out forwards;
    }
  }

  .card-container {
    @include flex-row-center;
    gap: 59px;
    padding-top: 5.5rem;
    background-image: url("../public/images/postit-line.svg");
    background-repeat: no-repeat;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.75rem;
      width: 17.5rem;
      height: 17.5rem;
      padding: 1.5rem 1.5rem 4.6875rem;
    }

    .green-card-container {
      @include flex-col-center;
      gap: 1.25rem;
      rotate: -10deg;

      .green-card {
        background-image: url("../public/images/green-postit.svg");
      }
    }

    .orange-card-container {
      @include flex-col-center;
      gap: 1.25rem;
      rotate: 5deg;

      .orange-card {
        background-image: url("../public/images/orange-postit.svg");
      }
    }

    .pink-card-container {
      @include flex-col-center;
      gap: 1.25rem;
      rotate: -8deg;

      .pink-card {
        background-image: url("../public/images/pink-postit.svg");
      }
    }

    .card-number {
      color: $white;
      font-size: 2.5rem;
      font-weight: 550;
      line-height: 135%;
      letter-spacing: -0.0625rem;
    }

    .card-text {
      color: $white;
      font-size: 1.25rem;
      line-height: 140%;
      letter-spacing: -0.5px;

      span {
        font-weight: 700;
      }
    }

    .card-bottom-text {
      color: $blue500;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 135%;
    }
  }
}

.key-point-container {
  @include flex-col-center;
  gap: 1.5rem;

  .label {
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
    border: 1px solid $white;
    color: $white;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 140%;
  }

  .description {
    color: $white;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.0625rem;
    text-align: center;
  }
}

.third-section {
  @include flex-col-center;
  gap: 5rem;
  height: calc(100vh - 80px);
  background-color: $blue500;

  .function-container {
    @include flex-row-center;
    gap: 3rem;

    .function {
      @include flex-col-center;
      gap: 3.625rem;
      width: 25rem;
      height: 25rem;
      background-color: $white;
      border-radius: 8px;
      padding: 1.25rem 1.5rem;

      .text-container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 0.5rem;
        width: 100%;

        .text-title {
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 135%;
        }

        .text-description {
          color: $gray700;
          line-height: 150%;
        }
      }

      .video {
        @include flex-row-center;
        width: 22.5rem;
        height: 12.75rem;
        background-color: $blue200;
        border-radius: 12px;
      }
    }
  }
}

.fourth-section {
  @include flex-col-center;
  gap: 6.25rem;
  height: calc(100vh - 80px);

  .label {
    border: 1px solid $blue500;
    color: $blue500;
  }

  .description {
    color: $black;
  }

  .accordion-container {
    width: 67.5rem;
    height: 36.125rem;
    display: flex;

    .accordion {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1.75rem 2rem;
      width: 5.9375rem;
      height: 36.125rem;
      border-radius: 8px;
      border: 1px solid $gray500;
      background-color: $gray400;
      opacity: 0.5;
      transition: all 0.15s ease-in-out;
      overflow: hidden;
      cursor: pointer;

      .text-container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 0.5rem;
        width: 100%;

        h3 {
          @include flex-row-center;
          gap: 0.75rem;
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 135%;

          span {
            @include flex-row-center;
            width: 2rem;
            height: 2rem;
            color: $white;
            font-size: 1.0625rem;
            font-weight: 500;
            line-height: 140%;
            background-color: $blue500;
            border-radius: 999px;
            text-align: center;
          }
        }

        p {
          padding-left: 2.75rem;
          color: $gray700;
          line-height: 150%;
        }
      }
    }

    .accordion.active {
      width: 43.75rem;
      background-color: $white;
      opacity: 1;
      transition: width 0.15s ease-in-out;
    }
  }
}

.fifth-section {
  @include flex-col-center;
  gap: 7.5rem;
  height: calc(100vh - 80px);
  background-color: $gray900;

  .video {
    width: 65rem;
    height: 36.5625rem;
    border-radius: 16px;
    overflow: hidden;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-3.5px);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
