.container {
  width: 18.75rem;
  border-radius: .75rem;
  border: 2px solid $gray900;
  outline: none;
  cursor: pointer;
  position: absolute;

  .start,
  .end {
    @include caption2-medium($white);
  }

  .title {
    @include caption1-medium($white);
  }

  &:hover {
    filter: brightness(1.1);
  }
}


.all-container {
  width: 5rem;
  height: 2.5rem;
  padding: 6px .625rem;
  margin-right: .25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: none;
  border-radius: .5rem;
  cursor: pointer;
  gap: .125rem;
  align-self: flex-start;

  .end {
    @include caption2-medium($white)
  }

  .title {
    @include caption1-medium($white)
  }
}