.container {
  width: 32rem;
  padding: 1.25rem 1.5rem 2.5rem;
  background-color: $white;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .group {
      display: flex;
      align-items: center;
      gap: .625rem;

      .color {
        display: flex;
        width: 2.5rem;
        height: .5rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        outline: none;
        border: none;
        border-radius: .25rem;
      }

      .name {
        @include caption1-medium($gray700);
      }
    }

    .buttons {
      .close-button {
        &:hover {
          transform: rotate(180deg);
        }
      }
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .title {
      display: flex;
      padding-bottom: .375rem;
      align-items: center;
      gap: 4px;
      align-self: stretch;
      @include heading4-medium;
    }
  }
}