@mixin scroll {
  &::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.625rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray400;
    border: 0.0625rem solid $gray400;
    border-radius: 0.3125rem;
    max-height: 0.625rem;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }
}

.container {
  width: 32rem;
  padding: 1.25rem 1.5rem 2.5rem;
  background-color: $white;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .group {
      display: flex;
      align-items: center;
      gap: .625rem;

      .color {
        display: flex;
        width: 2.5rem;
        height: .5rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        outline: none;
        border: none;
        border-radius: .25rem;
      }

      .name {
        @include caption1-medium($gray700);
      }

      .coordinated {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        background-color: $red100;
        color: $red800;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .buttons {
      .close-button {
        &:hover {
          transform: rotate(180deg);
        }
      }
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .title {
      display: flex;
      padding-bottom: .375rem;
      align-items: center;
      gap: 4px;
      align-self: stretch;
      @include heading4-medium;
    }

    .time-place {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .time-container,
      .place-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        align-self: stretch;

        .label {
          @include headline2-bold;
        }

        .time,
        .place {
          padding: 8px 4px;
          display: flex;
          align-items: center;
          text-align: center;
          gap: 4px;
          @include body2-medium($blue500);

          .place-icon {
            filter: invert(31%) sepia(32%) saturate(7322%) hue-rotate(224deg) brightness(102%) contrast(104%);
          }
        }
      }
    }

    .description {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .5rem;

      .label {
        @include headline2-bold;
      }

      .text {
        display: flex;
        padding: .75rem 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: .25rem;
        align-self: stretch;
        border-radius: 8px;
        background: $gray100;
        @include body2-regular;
      }
    }

    .participants-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .375rem;

      .label {
        @include headline2-bold;
      }

      .participants {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        @include scroll;

        .participant {
          display: flex;
          padding: .25rem .5rem;
          align-items: center;
          gap: .25rem;
          border-radius: 62.5rem;
          border: 1px solid $gray300;
          background: $gray100;
          @include body2-medium;
        }

        .alone {
          @include body2-medium;
        }
      }
    }
  }
}