.container {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  width: fit-content;

  border-radius: 62.5rem;
  background: $gray50;

  &:hover {
    background-color: $gray200;
  }
}
.container-seleted {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  width: fit-content;

  border-radius: 62.5rem;
  background: $blue500;
  p {
    color: $white !important;
  }
  &:hover {
    background-color: $blue700;
  }
}
