.content {
  margin: 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;

  .calendar {
    width: 22rem;
    height: 20rem;
  }

  .box {
    display: flex;
    justify-content: right;
    gap: 1rem;
    width: auto;
    max-width: 60rem;
    min-width: 40rem;
  }
}
