.container {
  width: 100%;
  background-color: $gray50;
  height: calc(100vh - 5rem - 1px);

  .wrap {
    width: 100vw;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;

    .content {
      margin: 2rem 2rem 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 2rem;

      .calendar {
        width: 24rem;
        height: 22rem;
      }

      .box {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
