/*
사용 방법
color: $red500;
*/

$gray50: #fbfbfb;
$gray100: #f6f6f6;
$gray200: #efefef;
$gray300: #e8e8e8;
$gray400: #dddddd;
$gray500: #bbbbbb;
$gray600: #8c8c8c;
$gray700: #696969;
$gray800: #4f4f4f;
$gray900: #2c2c2c;
$blue50: #eff3ff;
$blue100: #e5ebff;
$blue200: #d3ddff;
$blue300: #b6c6ff;
$blue400: #85a0ff;
$blue500: #3360ff;
$blue600: #294dcc;
$blue700: #213ea3;
$blue800: #1a3282;
$blue900: #152868;
$red50: #ffefef;
$red100: #ffe5e5;
$red200: #ffd3d3;
$red300: #ffb6b6;
$red400: #ff8585;
$red500: #ff3333;
$red600: #bf2626;
$red700: #8f1d1d;
$red800: #6b1616;
$red900: #501111;
$yellow50: #fff9ee;
$yellow100: #fff5e3;
$yellow200: #ffefd0;
$yellow300: #ffe5b0;
$yellow400: #ffd47b;
$yellow500: #ffb723;
$yellow600: #bf891a;
$yellow700: #8f6714;
$yellow800: #6b4d0f;
$yellow900: #503a0b;
$green50: #eefcf0;
$green100: #e2fae6;
$green200: #cff6d5;
$green300: #aff0b9;
$green400: #7ae68b;
$green500: #21d53e;
$green600: #19a02f;
$green700: #137823;
$green800: #0b4414;
$green900: #0b4414;
$purple50: #faeffc;
$purple100: #f6e5fa;
$purple200: #f0d4f7;
$purple300: #e6b8f2;
$purple400: #d688ea;
$purple500: #bb38dc;
$purple600: #8c2aa5;
$purple700: #69207c;
$purple800: #4f185d;
$purple900: #3b1246;
$pink50: #feeef5;
$pink100: #fde3ef;
$pink200: #fbd1e5;
$pink300: #f8b3d4;
$pink400: #f380b7;
$pink500: #eb2c87;
$pink600: #b02165;
$pink700: #84194c;
$pink800: #631339;
$pink900: #4a0e2b;
$orange50: #fff5f0;
$orange100: #ffeee6;
$orange200: #ffe2d6;
$orange300: #ffcfba;
$orange400: #ffaf8c;
$orange500: #ff7940;
$orange600: #bf5b30;
$orange700: #8f4424;
$orange800: #6b331b;
$orange900: #502614;
$white: #ffffff;
$black: #000000;
