/*
사용 방법
폰트 패밀리는 전역으로 설정되어 있어서 수정하지 않아도 됩니다.
폰트 웨이트만 사용하고자 하는 웨이트에 맞게 설정하면 됩니다
*/

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-display: swap;
}


@mixin caption2-medium($color: black) {
  color: $color;
  text-align: center;

  /* Caption 2/Medium */
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 127.3%;
  /* 14.003px */
  letter-spacing: -0.275px;
}

@mixin body2-medium($color: black) {
  color: $color;
  text-align: center;

  /* Body 2/Medium */
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.9%;
  /* 20.006px */
  letter-spacing: -0.35px;
}