// 글씨 길어질 때 ... 처리하는 mixin입니다 매개변수로 줄 수를 적용할 수 있습니다.
@mixin text-overflow-ellipsis($line-clamp: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  overflow: hidden;
  text-overflow: ellipsis;
}
