.container {
  display: flex;
  width: 15rem;
  height: calc(100vh - 5rem - 1px);
  padding: 5rem 10px;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;

  .schedule-create-container {
    position: relative;

    .schedule-create {
      display: flex;
      width: 12.5rem;
      height: 3rem;
      padding: .75rem 1.5rem;
      justify-content: center;
      align-items: center;
      gap: .25rem;
      border-radius: .5rem;
      background: $blue500;
      @include headline2-bold($white);
      cursor: pointer;
    }

    .create-list-container {

      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute; // 절대 위치로 설정하여 부모 요소 아래에 배치
      top: 100%; // 부모 요소 바로 아래에 위치
      right: 0;
      background: white; // 배경색 설정
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 그림자 추가

      li {
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}