.container {
  position: relative;
}

.notification-bell {
  margin-right: 0.4rem;
  display: flex;
  gap: 0.25rem;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem 0.8rem;

  &:hover {
    background-color: $gray300;
    transition: 0.75s;
  }

  .notification-count {
    color: $white;
    font-size: 0.625rem;
    font-weight: 500;
    background-color: $red500;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.1rem;
    top: 0.15rem;
    letter-spacing: -0.05rem;
  }
}

.notification-popup {
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 15%;
  width: 18.75rem;
  max-height: 31.25rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: $blue50;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray200;
    border: 1px solid $gray400;
    border-radius: 5px;
    min-height: 3.75rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
  }
}
