.profile-image-container {
  position: relative;
}

.profile-image-background {
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  background-color: $gray200;
}

.profile-image {
  border-radius: 50%;
}

.profile-image-container::before {
  content: "";
  position: absolute;
  height: 2.875rem;
  inset: -2px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(51, 96, 255, 1) 0%,
    rgba(50, 236, 180, 1) 50%,
    rgba(38, 163, 191, 1) 100%
  );
  z-index: -1; /* 이미지 뒤에 배치 */
}
