.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid $gray200;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  padding: 3rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.description {
  color: $black;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.0313rem;
}
